.our-projects {
    display: flex;

    &._opened {
        & .swiper-navigation {
            opacity: 1;
            transform: translate(-50%, 0);
            animation: project-body .5s ease-in-out forwards;
        }

        & .ui-line {
            animation: project-line .5s ease-in-out forwards;
        }

        & .our-projects__c-main-slide-body {
            animation: project-body .5s ease-in-out forwards;
        }
    }

    &__c {


        &-top {



            & .container {
                display: flex;
                gap: 7rem;

                @include mobile {
                    flex-direction: column;
                    gap: 4.8rem;
                }

            }

            &-body {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                width: 60rem;

                @include mobile {
                    width: 100%;
                }

                & .btn-second {
                    margin-top: 1.6rem;

                    @include mobile {
                        margin-top: 4.8rem;
                    }
                }
            }

        }

        &-main {

            & .swiper-navigation {
                position: absolute;
                margin-bottom: 32.4rem;
                bottom: 0;
                left: 50%;
                display: flex;
                justify-content: flex-end;
                z-index: 3;
                height: fit-content;
                opacity: 0;
                transform: translateX(-50%);
                transition: opacity .5s ease-in-out;

                @include mobile {
                    bottom: 16rem;
                }
            }

            & .ui-line {
                position: absolute;
                left: 0;
                bottom: 0;
                margin-bottom: 38.7rem;
                /* 11.3 */
                width: 100%;
                z-index: 3;


                @include mobile {
                    margin-bottom: 50%;
                }
            }

            &-slide {
                position: relative;
                display: flex;
                align-items: flex-end;
                justify-content: center;
              


              





                &-body {
                    margin-bottom: 32.4rem;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 5.6rem;

                    @include mobile {
                        margin-bottom: 16rem;
                        gap: 40.4rem;
                    }


                    & .btn-primary {
                        left: 0;
                        top: -10rem;
                        position: absolute;

                        @include mobile {
                            top: -5rem;
                            left: calc(100% - 20rem);


                        }
                    }

                    &-top {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        @include mobile {
                            max-width: 50%;
                            flex-direction: column;
                            justify-content: flex-start;
                            gap: 3.6rem;
                        }

                    }

                    &-values {
                        display: flex;
                        gap: 3.2rem;
                        width: fit-content;
                    }

                }

            }
        }

    }

}

@keyframes project-line {
    0% {
        margin-bottom: 38.7rem;
    }

    100% {
        margin-bottom: 50rem;
    }
}

@keyframes project-body {
    0% {
        margin-bottom: 32.4rem;
    }

    100% {
        margin-bottom: 43.7rem;
    }
}

