.two-side {
    position: relative;

    & .ui-line {
        bottom: 46.5rem;
        left: 0;
        position: absolute;

        @include mobile {
            bottom: 10.5rem;
        }
    }

    & .container {
        @include mobile {
            height: 100%;
            padding-left: 0;
            padding-right: 0;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: min-content auto;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5.6rem;
        align-items: center;

        @include mobile {
            flex-direction: column;
            gap: 3.2rem;
            align-items: flex-start;
            margin-top: 16.4rem;
            padding-left: $mobilePadding;
            padding-right: $mobilePadding;
        }
    }

    @include mobile {


        &[data-anime-state='1'] {
            & .two-side__grid {
                grid-template-rows: .6fr .4fr 0fr 0fr;

            }
        }

        &[data-anime-state='2'] {
            & .two-side__grid {
                grid-template-rows: 0fr .6fr .4fr 0fr;


            }
        }

        &[data-anime-state='3'] {
            & .two-side__grid {
                grid-template-rows: 0fr 0fr .5fr .6fr;

            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4.4rem;

        @include mobile {
            height: 100%;
            grid-template-columns: 100%;
            grid-template-rows: 60% 40% 0% 0%;
            transition: grid .6s linear;
            gap: 0;
        }

        &-el {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            height: 58rem;
            position: relative;



            @include mobile {
                height: 100%;
                overflow: hidden;

            }
            &-text {

                display: flex;
                flex-direction: column;

                @include desktop {
                    &:nth-child(2) {
                        height: 100%;
                        align-items: flex-start;
                    }
                }

                @include mobile {
                    &._grid {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                    }

                    height: fit-content;
                    padding: 4rem $mobilePadding 0;
                    box-sizing: border-box;

                    &+.two-side__grid-el-text {
                        padding: 0 $mobilePadding;
                    }

                }

                & .btn-primary {
                    margin-top: auto;
                    margin-left: 50%;
                    margin-bottom: 10rem;

                }
            }

            &-img {
                display: flex;
                height: 100%;

                @include mobile {
                    height: 72rem;
                    max-height: 50dvh;
                }

                & img {

                    object-fit: cover;
                    object-position: center;
                }
            }


        }
    }
}