.about-heading {
    position: relative;
    display: flex;

    & .ui-bg {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;

    }

    & .ui-line {
        z-index: 2;
        left: 0;
        bottom: 24.5rem;

        @include mobile {
            bottom: 46rem;
            margin: 0;
            transform: translate(0, 0);

        }

    }

    &__c {
        position: relative;
        z-index: 2;
        display: grid;
        grid-template-columns: 32rem auto;
        grid-template-areas:
            'btn head'
            'btn txt';
        gap: 2.6rem;
        padding-bottom: 13rem;
        margin-top: auto;
        margin-bottom: 0 !important;

        @include mobile {
            grid-template-columns: 37rem auto;
            grid-template-areas:
                'head btn'
                'txt btn';
        }


        & .tl1 {
            grid-area: head;
        }

        & .txt20 {
            grid-area: txt;

            @include desktop {
                width: 55rem;
            }
        }

        & .btn-primary {
            grid-area: btn;
            width: fit-content;
            height: fit-content;
            margin-left: 22rem;

            @include mobile {
                margin-left: 12rem;
            }
        }
    }
}

.about-spec {
    @include mobile {
        padding-bottom: 8rem;
    }
    & .container {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;

        @include mobile {
            height: 100%;
            grid-template-rows: minmax(44rem, 35%) 65%;
            padding-left: 0;
            padding-right: 0;

        }
    }

    &__top {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 4.6rem;
        z-index: 3;

        @include mobile {
            position: unset;
            flex-direction: column;
            gap: 3.2rem;
            margin-bottom: 6.4rem;
            @include mobPad;

            & .ui-line {
                display: none;
            }
        }

        & .ui-line {
            top: 14rem;
        }

        & .swiper-nav {
            position: absolute;
            bottom: 0;


            @include desktop {
                right: 32rem;

            }

            @include mobile {
                bottom: -3rem;
                left: 0;
            }
        }
    }

    & .swiper {
        width: 100%;
        height: 100%;
        & .swiper-wrapper{
            padding:  0 $mobilePadding 0; 
        }
    }

    &__slide {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80% 8% 8%;
        gap: 2%;
        height: 100%;

        @include mobile {
            grid-template-rows: 70% 10% max-content;

        }

        &-img {
            display: flex;

            & img {
                object-fit: cover;
                object-position: center;
            }
        }

        & .tl3,
        & .txt20 {
            height: 100%;
        }
    }

}