.services {
    padding-bottom: 0;

    & .container {
        height: 100%;
    }

    &__c {
      /*   @include desktop {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4rem;
        } */


        &-el {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            height: 90dvh;

            &._text {
                height: 15rem;
                display: flex;
                flex-direction: column;
                gap: 3rem;
            }



            &-item {
                height: 100%;
                display: flex;
                flex-direction: column;
                position: relative;
                box-sizing: border-box;
                padding: 6.8rem;

                &-img {
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100dvh;
                    display: flex;

                    & img {
                        object-fit: cover;
                    }
                }

                &-text {
                    margin-top: auto;
                    margin-bottom: 6rem;
                }

                & .btn-pirmary {
                    margin-top: auto;
                }
            }
        }
    }
}