<section class="message">
    <div class="ui-line _black"></div>
   <div class="page-slide-scroll "> 
        <div class="container message__c">
            <button class="btn-primary _black">
                <span class="btn-primary-anchor">
                    <span class="btn-primary-c">
                        <span class="btn-primary-text ">
                            связаться <br />
                            с руководителем
                        </span>
                        <span class="ui-icon _arrow-black-right">
                        </span>
                    </span>
                    <span class="btn-primary-circle"></span>
                </span>
            </button>


            <p class="tl1 txt-up message__c-heading">Cлово руководителей</p>
            <p class="txt14 txt-up message__c-exp">
                Наш опыт будет <br />
                вам полезен
            </p>
            <p class="txt22 txt-up message__c-mission">
                Наша миссия - создание вечноценных интерьеров, пока вы заняты любимым делом, семьей или работой
            </p>

            <div class="message__c-small">
                <img src="./assets/images/message-small.png" alt="">
            </div>
            <div class="message__c-big">
                <img src="./assets/images/message-big.png" alt="">
            </div>
            <div class="message__c-text">
                <p class="txt20 wow animate__fadeIn">
                    Наши клиенты чаще всего уже сталкивались с ремонтами и дизайнерами, и у каждого возникали ситуации,
                    которые оставили определенное впечатление - переживания о сроках, бюджете, прозрачности,
                    конфиденциальности, о том, что больше нет желания вникать во все нюансы, тратить личное ценное
                    время, на
                    стройках и в магазинах для выбора идеального сочетания.
                </p>
                <p class="txt20 wow animate__fadeIn">
                    Наша работа заключается в продумывании интерьера для каждого конкретного человека и в максимальном
                    освобождении его от ненужных забот. Ремонт может быть приятным, потому что мы выполняем весь
                    комплекс
                    услуг, начиная с первичной консультации, заканчивая декорированием и фотофиксацией
                </p>
            </div>

            <button class="btn-second">
                <span class="btn-second-text">подробнее о нас</span>
                <span class="btn-second-circle"> </span>
                <span class="ui-icon">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#140E0A"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke-width="1.5"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M3.5 12H20.33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </span>


            </button>

        </div>
    </div> 
</section>