<section class="our-projects">
    <div class=" our-projects__c">
       
        <div class="our-projects__c-main swiper">
            <div class="swiper-navigation container">
                <button class="swiper-btn swiper-btn-prev"></button>
                <button class="swiper-btn swiper-btn-next"></button>
            </div>
            <div class="ui-line"></div>
            <ul class="swiper-wrapper">
                <li class="swiper-slide our-projects__c-main-slide">
                    <div class="ui-bg">
                        <img src="./assets/images/heading-main.png" alt="">
                    </div>

                    <div class="container our-projects__c-main-slide-body col-wh">
                        <button class="btn-primary">
                            <span class="btn-primary-anchor">
                                <span class="btn-primary-c">
                                    <span class="btn-primary-text">
                                        смотреть <br />
                                        проект
                                    </span>
                                    <span class="ui-icon _arrow-white-right">
                                    </span>
                                </span>
                                <span class="btn-primary-circle"></span>
                            </span>
                        </button>

                        <div class="our-projects__c-main-slide-body-top">
                            <p class="tl1 txt-up"> item name</p>
                            <p class="txt14 txt-up"> item type</p>
                        </div>
                        <div class="our-projects__c-main-slide-body-values">
                            <p class="txt22">date here</p>
                            <p class="col-wh">&bull;</p>
                            <p class="txt22">meter quadro</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="our-projects__c-top ">
            <div class="container">
                <p class="tl1 txt-up">
                    Познакомьтесь <br />
                    с нашими проектами <br />
                    и убедитесь сами
                </p>
                <div class="our-projects__c-top-body">
                    <p class="txt22 txt-up">Создали и реализовали более 90 проектов</p>
                    <p class="txt20">Дизайн проект полностью уникален, учитываются все Ваши пожелания, и в итоге, Вы
                        получаете визуализации своего дома, наполненные реальными материалами и мебелью
                    </p>

                    <a class="btn-second txt-up" href="to projects">
                        <span class="btn-second-text">перейти в портфолио</span>
                        <span class="btn-second-circle"> </span>
                        <span class="ui-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#140E0A"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke-width="1.5"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M3.5 12H20.33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg>
                        </span>


                    </a>

                </div>
            </div>
        </div>
    </div>
</section>