<section class="our-specialists">
    <div class="ui-line _black anime-width-right" data-anime-delay="1s" data-anime-speed="1s"></div>
    <div class="container">
        <div class="our-specialists__top">
            <button class="btn-primary _black desktop">
                <span class="btn-primary-anchor">
                    <span class="btn-primary-c">
                        <span class="btn-primary-text anime-height-top" data-anime-delay="1s">
                            закажите звонок <br />
                            в удобное для вас <br />
                            время
                        </span>
                        <span class="ui-icon _arrow-black-right anime-height-bottom" data-anime-delay="1s">
                        </span>
                    </span>
                    <span class="btn-primary-circle anime-height-bottom" data-anime-delay="1s"></span>
                </span>
            </button>
            <p class="tl1 txt-up anime-height">
                в нашем штате <br />
                более 12 профильных <br />
                специалистов
            </p>
        </div>
        <!--  -->
        <div class="our-specialists__small swiper-clip _clip-top swiper desktop anime-height-top">
            <!-- тут маленькие картинки -->
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <div class="our-specialists__img">
                        <img src="./assets/images/message-small.png" alt="">
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="our-specialists__img">
                        <img src="./assets/images/message-big.png" alt="">
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="our-specialists__img">
                        <img src="./assets/images/message-small.png" alt="">
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="our-specialists__img">
                        <img src="./assets/images/message-big.png" alt="">
                    </div>
                </li>
            </ul>
        </div>
        <!--  -->
        <div class="our-specialists__info anime-height">
            <div class="our-specialists__info-data swiper swiper-clip">
                <!-- тут инфа о челе -->
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <p class="txt22 txt-up">user name 1111</p>
                        <p class="txt20"> user job 1111</p>
                    </li>
                    <li class="swiper-slide">
                        <p class="txt22 txt-up">Lorem ipsum dolor sit amet.</p>
                        <p class="txt20"> Lorem ipsum dolor sit.</p>
                    </li>
                    <li class="swiper-slide">
                        <p class="txt22 txt-up">user name 333</p>
                        <p class="txt20"> user job 3333</p>
                    </li>
                    <li class="swiper-slide">
                        <p class="txt22 txt-up">user name 444</p>
                        <p class="txt20"> user job 444</p>
                    </li>
                </ul>
            </div>
            <div class="swiper-navigation">
                <button class="swiper-btn swiper-btn-prev"></button>
                <button class="swiper-btn swiper-btn-next"></button>
            </div>
            <button class="btn-primary _black mobile">
                <span class="btn-primary-anchor">
                    <span class="btn-primary-c">
                        <span class="btn-primary-text">
                            закажите <br />
                            звонок <br />
                            в удобное <br />
                            для вас время

                        </span>
                        <span class="ui-icon _arrow-black-right">
                        </span>
                    </span>
                    <span class="btn-primary-circle"></span>
                </span>
            </button>
        </div>
        <!--  -->
        <div class="our-specialists__big swiper swiper-clip _clip-bottom anime-height-bottom">
            <!-- а тут большая картинка -->
            <div class="swiper-wrapper">

                <li class="swiper-slide">
                    <div class="our-specialists__img">
                        <img src="./assets/images/message-small.png" alt="">
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="our-specialists__img">
                        <img src="./assets/images/message-big.png" alt="">
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="our-specialists__img">
                        <img src="./assets/images/message-small.png" alt="">
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="our-specialists__img">
                        <img src="./assets/images/message-big.png" alt="">
                    </div>
                </li>
            </div>
        </div>
    </div>
</section>