<section class="our-specialists">
    <div class="container swiper">
        <div class="ui-line _black anime-width-right" data-anime-delay="1s" data-anime-speed="1s"></div>
        <div class="our-specialists__top">
            <button class="btn-primary _black ">
                <span class="btn-primary-anchor">
                    <span class="btn-primary-c">
                        <span class="btn-primary-text anime-height-top" data-anime-delay="1s">
                            закажите звонок <br />
                            в удобное для вас <br />
                            время
                        </span>
                        <span class="ui-icon _arrow-black-right anime-height-bottom" data-anime-delay="1s">
                        </span>
                    </span>
                    <span class="btn-primary-circle anime-height-bottom" data-anime-delay="1s"></span>
                </span>
            </button>
            <p class="tl1 txt-up anime-height">
                в нашем штате <br />
                более 12 профильных <br />
                специалистов
            </p>
        </div>
        <div class="swiper-nav anime-height-top">
            <button class="swiper-btn swiper-btn-prev"></button>
            <button class="swiper-btn swiper-btn-next"></button>
        </div>
        <!--  -->
        <ul class="swiper-wrapper  swiper-clip">
            <li class="swiper-slide our-specialists__slide">
                <div class="our-specialists__slide-small  swiper-clip _clip-bottom desktop ">
                    <img class="anime-height-bottom" src="./assets/images/message-small.png" alt="">
                </div>
                <div class="our-specialists__slide-info swiper-clip _clip-both ">
                    <p class="txt22 txt-up anime-height-top">
                        name of this <br /> dude
                    </p>
                    <p class="txt20 anime-height-bottom">
                        job <br />
                        of this <br />
                        dude
                    </p>
                </div>
                <div class="our-specialists__slide-big swiper-clip _clip-top ">
                    <img class="anime-height-top" src="./assets/images/message-big.png" alt="">
                </div>
            </li>
            <li class="swiper-slide our-specialists__slide">
                <div class="our-specialists__slide-small swiper-clip _clip-bottom desktop ">
                    <img src="./assets/images/heading-main.png" alt="">
                </div>
                <div class="our-specialists__slide-info swiper-clip _clip-both">
                    <p class="txt22 txt-up">
                        name
                    </p>
                    <p class="txt20">
                        job
                    </p>
                </div>
                <div class="our-specialists__slide-big swiper-clip _clip-top ">
                    <img src="./assets/images/contacts-mob.png" alt="">
                </div>
            </li>
            <li class="swiper-slide our-specialists__slide">
                <div class="our-specialists__slide-small swiper-clip _clip-bottom desktop ">
                    <img src="./assets/images/message-big.png" alt="">
                </div>
                <div class="our-specialists__slide-info swiper-clip _clip-both">
                    <p class="txt22 txt-up">
                        a
                    </p>
                    <p class="txt20">
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="our-specialists__slide-big swiper-clip _clip-top ">
                    <img src="./assets/images/message-small.png" alt="">
                </div>
            </li>
            

        </ul>

    </div>
</section>