<section class="request-form">
    <div class="container">
        <div class="request-form__top">
            <p class="tl1 txt-up">
                Проектирование и ремонт могут
                быть приятными и увлекательными
            </p>
            <p class="txt20">
                А результат будет радовать Вас долгие годы
            </p>
        </div>
        <div class="request-form__grid">
            <div class="request-form__grid-form">
                <p class="txt22">
                    Оставьте свои контакты <br />
                    для связи
                </p>
                <form>
                    <label class="input-text">
                        <input type="text" placeholder="placeholder" required="">
                        <span class="input-text-error"> добавь _error на лэйбл</span>
                    </label>

                    <button class="btn-second">
                        <span class="btn-second-text"></span>
                        <span class="btn-second-circle"> </span>
                        <span class="ui-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#140E0A"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke-width="1.5"
                                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path d="M3.5 12H20.33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                    stroke-linejoin="round"></path>
                            </svg>
                        </span>
                    </button>

                </form>
                <p class="txt16 col-black40 txt-up">
                    Отправляя форму, вы принимаете <br />
                    пользовательское соглашение
                </p>

                <div class="request-form__grid-form-social">
                    <p class="txt22 txt-up">
                        или напишите нам
                    </p>
                    <a class="request-form__grid-form-social-link" href="tg">
                        <img src="./assets/images/icons/tg-black.svg" alt="">
                    </a>
                    <a class="request-form__grid-form-social-link _inst txt16" href="inst" >
                        <img src="./assets/images/icons/inst-black.svg" alt="">
                    </a>
                    <a class="request-form__grid-form-social-link" href="wa">
                        <img src="./assets/images/icons/wa-black.svg" alt="">
                    </a>
                    <p class="txt16 request-form__grid-form-social-inst col-black40">
                        *Запрещен на территории РФ
                    </p>
                </div>
            </div>
            <div class="request-form__grid-img">
                <img src="./assets/images/heading-main.png" alt="">
            </div>
            <div class="request-form__grid-right">
                <p class="tl2">
                    Подводя итоги, <br />
                    Вы получаете
                </p>
                <ul class="ui-marked-list">
                    <li class="txt20">Свободное время для себя</li>
                    <li class="txt20">Спокойствие и уверенность</li>
                    <li class="txt20">Полное технические сопровождение</li>
                    <li class="txt20">Эксклюзивный авторский интерьер</li>
                    <li class="txt20">Грамотно вложенный бюджет</li>
                    <li class="txt20">Конфиденциальность</li>
                    <li class="txt20">Прозрачность, официальность</li>
                </ul>
            </div>
        </div>
    </div>
</section>