<section class="two-slider">
    <div class="container">
        <div class="two-slider__top">
            <div class="tl1 txt-up anime-translate-top">
                <p class="anime-translate-t">
                    создаём интерьеры <br />
                    для людей, ценящих <br />
                    качество и комфорт
                </p>
            </div>
            <button class="btn-primary _black">
                <span class="btn-primary-anchor">
                    <span class="btn-primary-c">
                        <span class="btn-primary-text anime-height-top" data-anime-delay="1.6s">
                            закажите <br />
                            звонок <br />
                            в удобное <br />
                            для вас время
                        </span>
                        <span class="ui-icon _arrow-black-right anime-height-bottom" data-anime-delay="1.6s">
                        </span>
                    </span>
                    <span class="btn-primary-circle anime-height-bottom" data-anime-delay="1.5s"></span>
                </span>
            </button>
            <div class="ui-line _black anime-width-right" data-anime-delay="1s"></div>
        </div>
        <div class="swiper">
            <div class="swiper-nav anime-height-top" data-anime-delay="1s">
                <button class="swiper-btn swiper-btn-prev"></button>
                <button class="swiper-btn swiper-btn-next"></button>
            </div>
            <ul class="swiper-wrapper">
                <li class="swiper-slide two-slider__slide">
                    <div class="two-slider__slide-img anime-height-top">
                        <img src="./assets/images/contacts-mob.png" alt="">
                    </div>
                    <div class="two-slider__slide-body">
                        <p class="txt14 desktop col-black40 two-slider__slide-body-count anime-height-bottom">
                            само напишется
                        </p>
                        <div class="tl3 txt-up anime-translate-bottom">
                            <p class="anime-translate-t ">
                                slide top
                            </p>
                        </div>
                        <div class="txt16 anime-translate-bottom">
                            <p class="anime-translate-t">
                                slide bottom
                            </p>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide two-slider__slide">
                    <div class="two-slider__slide-img anime-height-top">
                        <img src="./assets/images/contacts-mob.png" alt="">
                    </div>
                    <div class="two-slider__slide-body">
                        <p class="txt14 desktop col-black40 two-slider__slide-body-count anime-height-bottom">
                            само напишется
                        </p>
                        <div class="tl3 txt-up anime-translate-bottom">
                            <p class="anime-translate-t ">
                                slide top
                            </p>
                        </div>
                        <div class="txt16 anime-translate-bottom">
                            <p class="anime-translate-t">
                                slide bottom
                            </p>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide two-slider__slide">
                    <div class="two-slider__slide-img anime-height-top">
                        <img src="./assets/images/contacts-mob.png" alt="">
                    </div>
                    <div class="two-slider__slide-body">
                        <p class="txt14 desktop col-black40 two-slider__slide-body-count anime-height-bottom">
                            само напишется
                        </p>
                        <div class="tl3 txt-up anime-translate-bottom">
                            <p class="anime-translate-t ">
                                slide top
                            </p>
                        </div>
                        <div class="txt16 anime-translate-bottom">
                            <p class="anime-translate-t">
                                slide bottom
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>